{% extends 'home/base.html' %}
{% block content %}
{% load static %}
    <div class="flex-grow-1" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({% static 'home/images/carousel-9.jpg' %}); background-repeat: no-repeat; background-size: cover;">
        <br>
        <div class="container text-light">
            <h2 class="py-1 border-bottom border-danger text-danger" style="border-width: 3px !important;">Contact Us</h2>
            <div>
                <p>Tourism Time</p>
                <p>Saudi Arabia, Riyadh</p>
                <p>Al-Mursalat, 12464</p>
                <p>011 454 2565</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d116036.07547711555!2d46.52989804541813!3d24.653744170508837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd481df6bb18f339f!2sCommunications+and+Information+College!5e0!3m2!1sen!2ssa!4v1551439927886" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <br>
    </div>
{% endblock %}