{% extends 'home/base.html' %}
{% block content %}
{% load static %}
<div class="bg m-0 flex-grow-1"
    style="col-auto; background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({% static 'home/images/carousel-8.jpg' %});">
    <br><br>
    <div class="container h-100">
        <h4 class="bg-danger px-4 text-center text-light rounded-top my-0"
            style="padding-top: 12px; padding-bottom: 12px;">Browse Places</h4>
        <!-- Search form -->
        <div class="my-0 px-4" style="background-color: #eaeaea; padding-top: 10px; padding-bottom: 10px;">
            <form class="form-inline mx-auto">
                <div class="mx-auto">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search .." aria-label="Search"
                        id="Search">
                    <!-- Dropdown list -->&nbsp;
                    <div class="btn-group mx-2">
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            {% if current_category %}
                            {{ current_category.name }}
                            {% else %}
                            Category
                            {% endif %}
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'places-index' %}">All</a>
                            {% for category in categories %}
                            <a class="dropdown-item" href="?category={{ category.id }}">{{ category.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <a href="{% url 'places-new' %}" class="text-light btn btn-danger">
                        <i class="fas fa-plus-circle"></i>
                        &nbsp;Add new
                    </a>
                </div>
            </form>

        </div>

        <!-- places list -->
        <div class="places-list p-4 bg-light rounded-bottom">
            {% for place in places %}
            <div class="place-row">
                <div class="d-flex justify-content-center">
                    <div class="align-self-center">
                        <!-- preview image -->
                        {% with place.image_set.all|first as preview %}
                        <img src="{{ preview.image.url }}" class="rounded" width="200" height="150">
                        {% endwith %}
                    </div>
                    <!-- place info -->
                    <div class="flex-grow-1 px-4 d-flex flex-column align-items-center" style="max-width: 80%;">
                        <!-- title -->
                        <h5 class="mb-1 text-primary text-break">{{place.name|capfirst}}</h5>

                        <!-- rating -->
                        <div class="mb-2">
                            <img width="75" height="13.75"
                                src="{% get_static_prefix %}home/images/rating_stars/{{ place.get_place_abs_rating }}_stars.png">
                            <span class="mx-1 small">({{ place.review_set.count }})</span>
                        </div>

                        <!-- description -->
                        <p class="text-truncate text-center mb-1 mw-100">{{place.description}}</p>

                        <!-- posted by & date -->
                        <p>
                            by<a class="text-secondary mx-2" href="{% url 'profile-index' user_id=place.posted_by.user.id %}">{{ place.posted_by.user.username }}</a>
                            <span class="fa fa-calendar text-danger" aria-hidden="true"></span>
                            <span>{{ place.post_date|date:'F d, Y \a\t g:i A' }}</span>
                        </p>
						<div class="container d-flex justify-content-center"> 
                        <!-- learn more -->
                        <a href="{% url 'place-info' place_id=place.id %}?category={{ current_category.id }}&page={{ request.GET.page }}"
                            class="btn btn-sm btn-danger">Learn more</a>&nbsp;
							
						<!-- Favourite button -->
						{% if user.is_authenticated %}
						  {% if place in user.profile.favorites.all %}
							<a class="btn btn-sm btn-danger" href="{% url 'place-unfavorite' place_id=place.id %}?next={% url 'place-info' place_id=place.id %}">
							  <i class="fas fa-trash-alt"></i>
							  &nbsp;Unfavorite
							</a>          
						  {% else %}
							<a class="btn btn-sm btn-success" href="{% url 'place-favorite' place_id=place.id %}?next={% url 'place-info' place_id=place.id %}">
							  <i class="fab fa-gratipay"></i>
							  &nbsp;Favorite
							</a>
						  {% endif %}
						{% endif %}
						</div>
                    </div>
                </div>
                <hr class="bg-danger">
            </div>
            {% endfor %}

            <!-- Pages -->
            {% include './pages_section.html' with pageObj=places %}
        </div>
    </div>
    <br><br>
</div>
{% endblock %}